body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background: linear-gradient(#001f3f, #003366);
    color: #fff;
    padding: 1em;
}

input {
    width: 120px;
    text-align: right;
}

.win {
    color: #00ff99;
}
.lose {
    color: #ff6666;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
